<header-div></header-div>
<div class="home-page" style="margin-top:100px;">
  <div class="container page">


    <div class="row">
      <div class="col-md-6">

        <div class="row align1">
            <br>
            <div class="col-md-12">
              <label class="entity"> Enrollment Entity ID# </label> <label class="entity1">Busine001</label>
            </div>
        </div>

        <div class="row">
            <br>
            <div class="col-md-5">
              <button  [ngClass]="(myVar==true)?'active':'profile'">1.PROFILE INFO</button>
            </div>
            <div class="col-md-6">
            <button  [ngClass]="(myVar==false)?'active':'profile'">2.PAYMENT INFO</button>
            </div>
        </div>
         <br/>

        <div *ngIf="profileInfo">
           <div class="row">
             <div class="col-md-4">
              <label>A.BASIC INFO</label>
             </div>
             <div class="col-md-4">
              <label>B.REMITTANCE INFO</label>
             </div>
             <div class="col-md-4">
              <label>C.CONTACT & OTHER INFO</label>
             </div>
           </div>
           <div class="row">
             <div class="col-md-12">
               <mat-progress-bar mode="determinate" value="{{Progressvalue}}"></mat-progress-bar>
             </div>
          </div>
        </div>

      </div><!--for col-md-6 -->
    </div><!-- for row -->




   <div class="row">
      <div *ngIf="basicInfo" class="col-md-6">

          <div class="row">
              <div class="col-md-10">
                     <label class="basic">Basic Information</label>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                <br/>
                   <span class="emplabel">Entity Name</span>
                   <br/>
                   <input  [(ngModel)]="entityName" name="entityName" class="empdetails emp-text" type="text" required/>
                <br/>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                <br/>
                   <span class="emplabel">Address</span>
                   <br/>
                   <input  [(ngModel)]="address" name="address" class="empdetails1 emp-text" type="text" required/>
                   <br/>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6">
                  <br/>
                     <span class="emplabel">Street</span>
                     <br/>
                     <input  [(ngModel)]="street" name="street" class="empdetails1 emp-text" type="text" required/>
                  <br/>
              </div>
          </div>


        <div class="row">
            <div class="col-md-6">
              <br/>
                     <span class="emplabel">City</span>
                     <br/>
                     <input  [(ngModel)]="city" name="city" class="empdetails emp-text" type="text" required/>
                     <br/>
            </div>
            <div class="col-md-6">
                <br/>
                <span class="emplabel">State</span>
                <select  [(ngModel)]="state"  class="empdetails">
                  <option value="" selected="selected">Select State</option>
                    <option >State1</option>
                    <option >State1</option>
                    <option >State1</option>
                </select>
                     <br/>

            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
              <br/>
              <span class="emplabel">ZipCode</span>
                     <br/>
                     <input  [(ngModel)]="ZipCode" name="ZipCode" class="empdetails emp-text" type="text" required/>
                     <br/>
            </div>
            <div class="col-md-6">
                <br/>
                <span class="emplabel">Country</span>
                <select  [(ngModel)]="country"  class="empdetails">
                  <option>Select Country</option>
                    <option>Country1</option>
                    <option>Country2</option>
                    <option>Country3</option>
                </select>
                       <br/>

            </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-12">
              <button  class="btn-grey" (click)="BasicDetails()">Proceed</button>
               <br/>
        </div>
      </div>

    </div> <!-- basicInfo -->



    <div *ngIf="remittanceinfo" class="col-md-6">

        <div class="row align">
             <div class="col-md-6">
               <label class="basic">Remittance Information</label>
             </div>
             <div class="col-md-4">
               <button class="profile3">Add Remittance Address</button>
             </div>
        </div>
        <br>
      <mat-card>
        <mat-card-content>
        <div class="row">
          <div class="col-md-10">
               <span class="emplabel">Address</span>
               <br/>
               <input  [(ngModel)]="address1" name="address" class="userdetails1" type="text" required/>
               <br/>
          </div>
        </div>


        <div class="row">
          <div class="col-md-5">
            <br/>
               <span class="emplabel">Street</span>
               <br/>
               <input  [(ngModel)]="street1" name="street" class="userdetails1 " type="text" required/>
               <br/>
          </div>
       </div>

        <div class="row">
          <div class="col-md-5">
            <br/>
               <span class="emplabel">City</span>
               <br/>
               <input  [(ngModel)]="city1" name="city" class="userdetails" type="text" required/>
               <br/>
          </div>
          <div class="col-md-5">
               <br/>
               <span class="emplabel">State</span>
               <select  [(ngModel)]="state1"  class="userdetails">
                 <option value="" selected="selected">Select State</option>
                   <option >State1</option>
                   <option >State1</option>
                   <option >State1</option>
               </select>
               <br/>
          </div>
        </div>


      <div class="row">
        <div class="col-md-5">
          <br/>
             <span class="emplabel">ZipCode</span>
             <br/>
             <input  [(ngModel)]="ZipCode1" name="ZipCode" class="userdetails" type="text" required/>
             <br/>
        </div>
        <div class="col-md-5">
            <br/>
            <span class="emplabel">Country</span>
            <select  [(ngModel)]="country1"  class="userdetails">
              <option>Select Country</option>
                <option>Country1</option>
                <option>Country2</option>
                <option>Country3</option>
            </select>
            <br/>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
      <br/>
      <div class="row">
          <div class="col-md-10">
                <button  class="btn-grey" (click)="remittanceDetails()">Proceed</button>
                   <br/>
          </div>
      </div>

  </div><!-- remittanceinfo -->




 <div *ngIf="contactInfo">
  <div class="row align">
       <div class="col-md-12">
         <label class="basic">Contact and Other Information</label>
       </div>
  </div>
   <div class="row">
     <div class="col-md-6">
            <br/>
           <span class="emplabel"> PayeeWebsite</span>
           <br/>
           <input  [(ngModel)]="payee" name="payee" class="contactdetails" type="text" required/>
    </div>
     <div class="col-md-6">
          <br/>
          <span class="emplabel">Included Subsidiaries /DBAs</span>
          <textarea   name="instruction" type="text" maxlength="32"   required></textarea>
     </div>
  </div>

  <div class="row">
     <div class="col-md-6 details">
           <br/>
           <span class="emplabel">Contact Name</span>
           <br/>
           <input  [(ngModel)]="payee" name="payee" class="contactdetails" type="text" required/>
    </div>
   <div class="col-md-6">
          <br/>
          <span class="emplabel">Excluded Subsidiaries /DBAs</span>
          <textarea   name="instruction" type="text" maxlength="32"   required></textarea>
   </div>
  </div>

  <div class="row">
    	<div class="col-md-1 details1">
					 <span class="emplabel">Phone No</span>
					 <br/>
					 <br/>
					 <input  [(ngModel)]="PhoneNo1" name="PhoneNo" class="contact"  type="text" required/>
	   </div>
		<div class="col-md-2 details1">
						 <br/>
						 <br/>
						 <input  [(ngModel)]="contact1" name="contact" class="contact2"   type="text" required/>

    </div>
   <div class="col-md-3 details1">
				 <span class="emplabel">Email</span>
				 <br/>
				 <br/>
				 <input  [(ngModel)]="email1" name="email" class="email"  type="text" required/>

    </div>
    <div class="col-md-6">
      <span class="emplabel">Comments</span>
      <textarea   name="instruction1" type="text" maxlength="32"   required></textarea>
    </div>
</div>

<div class="row ">
   <div class="col-md-6 details1">
          <br/>
         <span class="emplabel"> Tax ID</span>
         <br/>
         <input  [(ngModel)]="taxid1" name="taxid" class="taxdetails" type="text" required/>
  </div>
</div>
<div class="row">
  <div class="col-md-3 ">
           <br/>
            <span class="emplabel"> Invoice Address</span>
           <br/>
           <input  [(ngModel)]="invoice1" name="invoice" class="taxdetails"   type="text" required/>

</div>
<div class="col-md-3 ">
       <span class="emplabel">Invoice Format</span>
       <br/>
       <br/>
       <select  [(ngModel)]="sdfs"  class="userdetails">
           <option >Invoice1</option>
           <option >Invoice2</option>
           <option >Invoice3</option>
       </select>

  </div>
</div>
<div class="row">
    <div class="col-md-10">
          <button  class="btn-grey" (click)="contactdetails()">Proceed</button>
             <br/>
    </div>
</div>
</div>
<div *ngIf="paymentInfo">
  <div class="row">
      <div class="col-md-6">
        <div class="row align3" >
            <div class="col-md-6">
                 <label class="basic">Payment Information</label>
            </div>
        <div class="col-md-4">
          <button class="profile3" (click)="addItem()">Add Payment Method</button>
        </div>
       </div>
   <br/>
<div formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index;">
  <div [formGroupName]="i">
<mat-card class="dynamic">
  <mat-card-content>
      <button  class="profile4"  (click)="delInput(i)">-</button>
        <div class="row">
            <div class="col-md-5">
                <span class="emplabel">
                  Payment Method{{orderForm.controls.items.controls[i].controls.paymentMethods[0]}}
                </span>
                <br/>
                <select formControlName="paymentMethod" [(ngModel)]="sdfs"  class="userdetails">
                    <option *ngFor="" [ngValue]="payment"></option>
                </select>
            </div>
        </div>
    <div class="row">
       <div class="col-md-10">
          <span class="emplabel">Remittance Instruction</span>
          <br/>
          <textarea formControlName="remittanceInstruction"  name="instruction" type="text" maxlength="32" class="userdetails2"  required></textarea>
     </div>
     </div>
    <div class="row">
        <div class="col-md-5">
         <span class="emplabel">Minimum/Maximum Amoun  </span>
      <br>
        <input  [(ngModel)]="amount"  formControlName="remittanceInstruction" name="amount" class="userdetails" type="text" required/>
         </div>
     </div>
     <br>
    <div class="row">
          <div class="col-md-12">
            <div class="col-md-6" >
              <input  type="checkbox"  formControlName="paymentMethods" name="paymentMethods">Preferred Payment Method
        </div>
        <div class="col-md-6" >
          <input  type="checkbox"  formControlName="paymentMethods" name="paymentMethods">Private Payment Method
       </div>
         </div>
     </div>
     <br>
    <div class="row">
          <div class="col-md-5">
         <span class="emplabel">Select CSP</span>
         <br/>
         <select formControlName="csp"  [(ngModel)]="csp"  class="userdetails">
               <option >CSP1</option>
               <option >CSP1</option>
               <option >CSP1</option>
           </select>
        </div>
    </div>
    </mat-card-content>
</mat-card>
</div>
</div>
         <div class="row">
            <div class="col-md-5">
             	<button class="business3" (click)="submit()">Submit</button>
            </div>
          </div>
        </div>
      </div>
   </div>
 </div>
</div>
</div>
